/* style.css */
/* Solarized Light mode */
body.light-mode {
    background-color: #fdf6e3;
    /* Solarized Light background color */
    color: #657b83;
    /* Solarized Light text color */
}

.container.light-mode {
    background-color: #eee8d5;
    /* Solarized Light container background color */
}

h1.light-mode {
    color: #586e75;
    /* Solarized Light heading text color */
}

.vacancy-item.light-mode {
    background-color: #eee8d5;
    /* Solarized Light vacancy item background color */
    border-color: #839496;
    /* Solarized Light border color */
    color: #586e75;
    /* Solarized Light text color */
}

#search-input-company.light-mode,
#search-input-position.light-mode {
    border-color: #839496;
    /* Solarized Light input border color */
    background-color: #fdf6e3;
    /* Solarized Light input background color */
    color: #657b83;
    /* Solarized Light input text color */
}

#search-button.light-mode {
    background-color: #268bd2;
    /* Solarized Light button background color */
    color: #fdf6e3;
    /* Solarized Light button text color */
}

#search-button.light-mode:hover {
    background-color: #93a1a1;
    /* Solarized Light button hover background color */
}

/* Solarized Dark mode */
body.dark-mode {
    background-color: #002b36;
    /* Solarized Dark background color */
    color: #839496;
    /* Solarized Dark text color */
}

.container.dark-mode {
    background-color: #073642;
    /* Solarized Dark container background color */
}

h1.dark-mode {
    color: #93a1a1;
    /* Solarized Dark heading text color */
}

.vacancy-item.dark-mode {
    background-color: #073642;
    /* Solarized Dark vacancy item background color */
    border-color: #586e75;
    /* Solarized Dark border color */
    color: #93a1a1;
    /* Solarized Dark text color */
}

#search-input-company.dark-mode,
#search-input-position.dark-mode {
    border-color: #586e75;
    /* Solarized Dark input border color */
    background-color: #002b36;
    /* Solarized Dark input background color */
    color: #839496;
    /* Solarized Dark input text color */
}

#search-button.dark-mode {
    background-color: #268bd2;
    /* Solarized Dark button background color */
    color: #fdf6e3;
    /* Solarized Dark button text color */
}

#search-button.dark-mode:hover {
    background-color: #586e75;
    /* Solarized Dark button hover background color */
}