modules = ["python-3.10:v25-20230920-d4ad2e4", "python-3.12"]

run = [
  "python -m venv env",
  "source env/bin/activate",
  "pip install -r requirements.txt",
  "flask run --host=0.0.0.0 --port=5000"
]

[nix]
channel = "stable-23_11"

[deployment]
run = [
  "python -m venv env",
  "source env/bin/activate",
  "pip install -r requirements.txt",
  "flask run --host=0.0.0.0 --port=5000"
]
